    <div class="others cf">
        <div class="others-left">
            <h2>공대마당</h2>
            <ul  class="main-left-ul">
                <li class="liactive"><a href="">대학안내</a></li>
                <li><a href="">학장인사말</a></li>
                <li><a href="">공과대학 행정실</a></li>
                <li><a href="">교육목적체계도</a></li>
                <li><a href="">찾아오시는 길</a></li>
                <li><a href="">경의대학교행정서비스현장</a></li>
            </ul>
        </div>
        <div class="others-right">
            <img src="" alt="">
            <span class="others-right-line"></span>
            <h3>대학안내</h3>
            <p>경의대학교 공과대학은 서계화 정보화 시대를 이끌어 나갈 과학 기술 인재 양성을 위하여 1969년 서울캠퍼스에 설입되어
                교욱과 연구의 내일과 성장을 이루어왔다. 이후 보다 현대적인 교육 연구시설을 갖추고 세계적인 공과대학으로 발돋움하기
                위한 기반을 구축하고자 1984년 국제캠퍼스로 이전하였다. <br><br>
                1997년 학부제를 실시하였으며, 2004년에는 전자정보대학,테크노공학대학,환경,응용화학대학,토목건축대학으로 
                학부편제를 개편하였다. 전공간의 벽을 허물고 학문간 시너지효과를 높이기 위하여 2009년에는 테크노공학대학, 환경/응용화학대학
                , 토목건축대학을 통합하였으며, 통합된 공과대학에 기계공학과, 산업영경공학과, 원자력공학과, 화학공확과, 디스플레이재료공학과,
                 고분자/섬유신소재학과, 사회기반시스템공학과, 건축공학과, 환경학 및  환경공학과, 건축학과를 개편하여 전문전공교육을 실시하고 있다.
                 또한 2010년에는 디스플레이재료공학과와 고분자/섬유신소재학과를 통합하여 정보전자신소재공학과를 신설하였다. <br><br>
                 본 대학의 기계공학과, 산업경영공학과, 원자력공학과, 화확공학과, 토목공학과, 건축공학과, 환경공학과는 한국공학교윤인증원이
                 제시하는 인증기준을 만족하는 교육체계를 갖추고 2006년부터 공학인증제를 도입하여 시행하고 있다. 또한 창의성과
                 전문성을 가진 건축가 양성을 목적으로 하고 있는 건축학과는 2007년부터 국제적 기준에 부합되도록 5년제 학위과정을 시행하고 있다.
            </p>
            <span class="others-right-line"></span>
            <h3>교육목적</h3>
            <p>학문적 수월성 제고와 국제 경쟁력을 갖춘 창의적 전문인력 양성</p>
            <span class="others-right-line"></span>
            <h3>교육목표</h3>
            <p>경희대학교 공과대학은 "문화세계의 창조"라는 경희대학교의 창학이념을 바탕으로 다음과 같은 교육목표를 설정하여 인성교육과 함께
                선진 이론 및 실용적 학문에 바탕을 둔 실무 지향적 교육을 실시하여 창조적 실천력과 종합적 사고능력을 겸비한 인재를 배양하고자 한다.
            </p>
            <div class="others-right-leftline">
                <p>세계화 정보화 시대에 적응할 수 있는 인재 양성</p>
                <p>다양한 교양교육을 통한 전인적인 인재 양성</p>
                <p>전문인력이 갖추어야 할 자질 함양 및 기술적 문제의 창의적 해결 능력 배양</p>
                <p>미래가치를 창출하고 산업발전을 선도할 수 있는 과학기술 인력 양성</p>
                <p>공학인증제도의 효과적 시행으로 고도의 설계능력과 종합적 문제해결능력을 갖춘 인재양성</p>
            </div>
            <span class="others-right-line"></span>
            <h3>설치 전공과정</h3>
            <div class="others-right-leftline1 cf">
                <div class="others-right-leftline1-1">
                    <p>기계공학과</p>
                    <p>화확공학과</p>
                    <p>건축공학과</p>
                </div>
                <div class="others-right-leftline1-2">
                    <p>산업경영공학과</p>
                    <p>정보전자신소재공학과</p>
                    <p>환경학 및 환경공학과</p>
                </div>
                <div class="others-right-leftline1-3">
                    <p>원자력공학과</p>
                    <p>사회기반시스템공학과</p>
                    <p>건축학과</p>
                </div>
            </div>
            <span class="others-right-line"></span>
            <h3>학장인사말</h3>
            <h2>경희대학교 공과대학 홈페이지를 <br>방문해주셔서 감사합니다.</h2>
            <p>공과대학은 창의성, 전문성, 인성을 모두 겸비한 과학기술 분야의 글로벌리더를 양성하고, 국내 최고 수준의 연구성과를
                창출하여 국가 산업에 기여함을 목표로 하고있습니다. <br><br>
                이와 같은 목표를 구현하기 위하혀 공과대학은 최상의 교육 및 연구환경을 제공하고 있으며, 교육과 연구를 위한 하드웨어적, 소프트웨어적 기반ㅇ르 개선하기 위한 
                노력을 지속적으로 경주하고 있습니다. <br><br>
                경희대학교 공과대학에는 3,500여명의 학부생들과 대학원생들이 젊은 시절의 꿈을 펼치기 위하여 학업에 매진하고 있습니다. 세계 최고 수준의 학문적 배경을 가진
                110여명의 전임교수님들이 열정을 갖고 불철주야 교육과 연구에 임하고 계십니다. <br><br>
                특히 공과대학은 학생들의 능력을 개발하고 학생들이 더욱 풍요롭고 깊이 있는 인생을 설계할 수 있도록 정규수업 이외에도 학생들을 위한 각종 동아리 활동지원,
                교환학생지원, 해외탐방지원, 어학연수지원 등 비정규 교육과정으로 학생계발을 위한 지원을 아끼지 않고 있습니다. <br>
                창의성 있고 진취적인 젊은 인재들을 키우는 경희대학교 공과대학에 지속적인 관심을 가져주시길 부탁드립니다.
            </p>
            <span class="others-right-line"></span>
            <div class="others-right-none">
                <h3>공과대학 행정실</h3>
                <p>공과대학교 행정실에서는 최상의 교육 및 연구환경을 제공하기 위한 대학/대학원 학사 운영 등의 전반적인 업무를 수행하고 있으며, 학생 여러분을 향해 항상 열려있습니다.</p>
                <table class="others-right-table1">
                    <tr>
                        <th>담당자(직함)</th>
                        <th>담당자(직함)</th>
                        <th>이메일</th>
                    </tr>
                    <tr>
                        <td class="border-right-style border-bottom-style">김평근(행정실장)</td>
                        <td class="border-bottom-style others-right-table1-vertical">-대학 행정 및 학사업무 총괄</td>
                        <td class="border-left-style border-bottom-style">pkkim@khu.ac.kr</td>
                    </tr>
                    <tr>
                        <td rowspan="5" class="border-right-style border-bottom-style">오승주(행정과장)</td>
                        <td class="bottom-none others-right-table1-top">-기획/평가(O&P)</td>
                        <td rowspan="5" class="border-left-style border-bottom-style">cosmos@khu.ac.kr</td>
                    </tr>
                    <tr><td class="bottom-none">-국제교류 및 대회협력</td></tr>
                    <tr><td class="bottom-none">-관리관재</td></tr>
                    <tr><td class="bottom-none">-학생회 및 학생 사업지원</td></tr>
                    <tr><td class="border-bottom-style others-right-table1-bottom">-장학</td></tr>
                    <tr>
                        <td rowspan="3" class="border-right-style border-bottom-style">신기준(행정과장)</td>
                        <td class="others-right-table1-top">-예산</td>
                        <td rowspan="3" class="border-left-style border-bottom-style">kjshun@khu.ac.kr</td>
                    </tr>
                    <tr><td>-교원 및 연구 업무지원</td></tr>
                    <tr><td class="border-bottom-style others-right-table1-bottom">-지원</td></tr>
                    <tr>
                        <td rowspan="3" class="border-right-style border-bottom-style">박경희(행정실무)</td>
                        <td class="others-right-table1-top">-학사</td>
                        <td rowspan="3" class="border-left-style border-bottom-style">khee@khu.ac.kr</td>
                    </tr>
                    <tr><td>-감사</td></tr>
                    <tr><td class="border-bottom-style others-right-table1-bottom">-서무</td></tr>
                    <tr>
                        <td rowspan="2" class="border-right-style border-bottom-style">박미리(행정담당)</td>
                        <td class="others-right-table1-top">-학사업무 지원</td>
                        <td rowspan="2" class="border-left-style border-bottom-style">dkgs36@khu.ac.kr</td>
                    </tr>
                    <tr><td class="border-bottom-style others-right-table1-bottom">-장학업무 지원</td></tr>
                    <tr>
                        <td rowspan="5" class="border-right-style border-bottom-style border-bottom-style">이도윤(행정담당)</td>
                        <td class="others-right-table1-top">-예산업무 지원</td>
                        <td rowspan="5" class="border-left-style border-bottom-style">yundo@khu.ac.kr</td>
                    </tr>
                    <tr><td>-교무업무 지원</td></tr>
                    <tr><td>-연구업무 지원</td></tr>
                    <tr><td>-서무업무 지원</td></tr>
                    <tr><td class="border-bottom-style others-right-table1-bottom">-관리관재 업무지원</td></tr>
                </table>
            </div>
            <span class="others-right-line none"></span>
            <h3>경희대학교행정서비스헌장</h3>
            <p>공과대학은 경희대학교 행정서비스헌장을 준수하고, 학생의 학업성취도와 교육수준 만족을 위해 이행표준을 수립하고 쾌적한 면학분위기 조성을 위한 다양한<br>
            상담/지원 부서를 운영하고 있습니다.</p>
            <div class="others-right-menu cf">
                <div class="others-right-menu-1 active1">전부서 교육행정서비스 이행표준</div>
                <div class="others-right-menu-2">쾌적한 면학분위기 조성을 위해</div>
            </div>
            <div class="others-right-tab1">
                <strong>1. 경희대학교 방문자에 대한 서비스 이행 표준</strong>
                <ul>
                    <li>가.교육행정서비스와 관련한 모든 부서의 교직원은 신분증을 패용하여 서비스 실명제가 되도록 하겠습니다.</li>
                    <li>나.항상 밝은 표정, 친절한 말씨, 단정한 몸가짐으로 방문자를 맞이하고 친절하고 신속하게 밍눤을 처리하겠습니다.</li>
                    <li>다.담당 교직원이 없어 즉시 해결이 어렵거나, 시일을 요하는 민원은 처리기간을 약속하고 연락처와 주소 등을 기록하여<br>약속 기한 내에 처리결과를 반드시 알려드리겠습니다.</li>
                    <li>라.용무가 끝나면 인사 말씀을 드리고 상대방이 먼저 전화를 끊은 후 수화기를 놓겠습니다.</li>
                </ul>
                <span class="others-right-line"></span>
                <div class="others-right-tab1-table1 cf">
                    <div class="others-right-tab1-table1-rowspan cf">
                        <div class="others-right-tab1-table1-rowspan-1">2018</div>
                        <div class="others-right-tab1-table1-rowspan-2">
                            <div class="cf"><span>12.01</span><div>2016 국가고객만족도(NCSI)에서 2년 연속 사립대학교 부분 2위</div></div>
                            <div class="cf"><span>11.01</span><div>경희 후마니타스 암병원 착공</div></div>
                        </div>
                    </div>
                    <div class="others-right-tab1-table1-rowspan cf">
                        <div class="others-right-tab1-table1-rowspan-1">2017</div>
                        <div class="others-right-tab1-table1-rowspan-2">
                            <div class="cf"><span>12.01</span><div>2016 국가고객만족도(NCSI)에서 2년 연속 사립대학교 부분 2위</div></div>
                            <div class="cf"><span>11.01</span><div>경희 후마니타스 암병원 착공</div></div>
                            <div class="cf"><span>06.01</span><div>이학박사 이보숙 교수 제6대 총장 취임</div></div>
                            <div class="cf"><span>04.01</span><div>항공과(80명) 신설, 의상디자인과는 패션디자인과로 항공관광과는 호텔관광과로 영어과는 실무영어과로 사회체육과는 
                                생활체육과로 아동복지과는 아동보육복지과로 명칭 변경
                            </div></div>
                        </div>
                    </div>
                    <div class="others-right-tab1-table1-rowspan cf">
                        <div class="others-right-tab1-table1-rowspan-1">2016</div>
                        <div class="others-right-tab1-table1-rowspan-2">
                            <div class="cf"><span>12.01</span><div>개교 30주년 기념 행사 및 제2의 창학 개교기념일 확정</div></div>
                            <div class="cf"><span>11.01</span><div>본관 준공</div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>