    <div class="bg-back-opacity"></div>
        <div class="bg-back-pw">
            <div class="bg-back-pw-title">
                <h3>비공개글 열람</h3>
                <span></span>
            </div>
            <div class="bg-back-pw-box">
                <label for="">비밀번호</label>
                <input type="text" value="비밀번호를 입력하세요">
                <a href="">확인</a>
            </div>
        </div>
    <div class="board cf">
        <div class="board-left">
            <h2>공대마당</h2>
            <ul  class="main-left-ul cf">
                <li class="liactive"><a href="">공지사항</a></li>
                <li><a href="">자유게시판</a></li>
                <li><a href="">학생회</a></li>
                <li><a href="">동아리</a></li>
                <li><a href="">채용정보</a></li>
                <li><a href="">자료실</a></li>
                <li><a href="">동문소식</a></li>
                <li><a href="">포토갤러리</a></li>
            </ul>
        </div>
        <div class="board-right">
            <div class="board-right-group cf">
                <div class="board-right-group-center cf">
                    <span class="board-right-group-center-1 spanactive">일반</span>
                    <span class="board-right-group-center-2">학사</span>
                    <span class="board-right-group-center-3">장학</span>
                    <span class="board-right-group-center-4">시간표 변경</span>
                    <span class="board-right-group-center-5">국내학점교류</span>
                    <span class="board-right-group-center-6">행사</span>
                    <span class="board-right-group-center-7">e-커뮤니티</span>
                </div>
            </div>
            <table>
                <tr class="tr">
                    <th class="tr-th1">번호</th>
                    <th class="tr-th2">제목</th>
                    <th class="tr-th3">첨부파일</th>
                    <th class="tr-th4">작성자</th>
                    <th class="tr-th5">작성일</th>
                    <th class="tr-th6">조회</th>
                </tr>
                <tr>
                    <th class="tr-th1">번호</th>
                    <th class="tr-th2"><span class="tr-th2-red">항목</span> 제목</th>
                    <th class="tr-th3">-</th>
                    <th class="tr-th4">관리자</th>
                    <th class="tr-th5">작성일</th>
                    <th class="tr-th6">조회</th>
                </tr>
                <tr>
                    <th class="tr-th1">번호</th>
                    <th class="tr-th2"><span class="tr-th2-green">항목</span> 제목</th>
                    <th class="tr-th3"><img src="./images/file.png" class="file" alt="file"></th>
                    <th class="tr-th4">공과대학</th>
                    <th class="tr-th5">작성일</th>
                    <th class="tr-th6">조회</th>
                </tr>
                <tr>
                    <th class="tr-th1">번호</th>
                    <th class="tr-th2"><span class="tr-th2-red">항목</span> 제목 <img src="./images/secret.png" alt="secret" class="secret"></th>
                    <th class="tr-th3">-</th>
                    <th class="tr-th4">학과</th>
                    <th class="tr-th5">작성일</th>
                    <th class="tr-th6">조회</th>
                </tr>
                <tr>
                    <th class="tr-th1">번호</th>
                    <th class="tr-th2"><span class="tr-th2-deepgreen">항목</span> 제목</th>
                    <th class="tr-th3"><img src="./images/file.png" class="file" alt="file"></th>
                    <th class="tr-th4">산학협력단</th>
                    <th class="tr-th5">작성일</th>
                    <th class="tr-th6">조회</th>
                </tr>
                <tr>
                    <th class="tr-th1">번호</th>
                    <th class="tr-th2"><span class="tr-th2-deepgreen">항목</span> 제목</th>
                    <th class="tr-th3">-</th>
                    <th class="tr-th4">관리자</th>
                    <th class="tr-th5">작성일</th>
                    <th class="tr-th6">조회</th>
                </tr>
                <tr>
                    <th class="tr-th1">번호</th>
                    <th class="tr-th2"><span class="tr-th2-brown">항목</span> 제목</th>
                    <th class="tr-th3">-</th>
                    <th class="tr-th4">관리자</th>
                    <th class="tr-th5">작성일</th>
                    <th class="tr-th6">조회</th>
                </tr>
                <tr>
                    <th class="tr-th1">번호</th>
                    <th class="tr-th2"><span class="tr-th2-purple">항목</span> 제목 <img src="./images/secret.png" alt="secret" class="secret"></th>
                    <th class="tr-th3">-</th>
                    <th class="tr-th4">관리자</th>
                    <th class="tr-th5">작성일</th>
                    <th class="tr-th6">조회</th>
                </tr>
                <tr>
                    <th class="tr-th1">번호</th>
                    <th class="tr-th2"><span class="tr-th2-red">항목</span> 제목</th>
                    <th class="tr-th3">-</th>
                    <th class="tr-th4">관리자</th>
                    <th class="tr-th5">작성일</th>
                    <th class="tr-th6">조회</th>
                </tr>
                <tr>
                    <th class="tr-th1">번호</th>
                    <th class="tr-th2"><span class="tr-th2-red">항목</span> 제목</th>
                    <th class="tr-th3">-</th>
                    <th class="tr-th4">작성자</th>
                    <th class="tr-th5">작성일</th>
                    <th class="tr-th6">조회</th>
                </tr>
                <tr>
                    <th class="tr-th1">번호</th>
                    <th class="tr-th2"><span class="tr-th2-sky">항목</span> 제목</th>
                    <th class="tr-th3">-</th>
                    <th class="tr-th4">관리자</th>
                    <th class="tr-th5">작성일</th>
                    <th class="tr-th6">조회</th>
                </tr>
            </table>
            <div class="board-right-number cf">
                <img src="./images/board_left_d.png" alt="" class="board-right-number-left1">
                <img src="./images/board_left.png" alt="" class="board-right-number-left2">
                <ul class="cf">
                    <li class="choice"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">6</a></li>
                    <li><a href="">7</a></li>
                    <li><a href="">8</a></li>
                    <li><a href="">9</a></li>
                    <li><a href="">10</a></li>
                </ul>
                <img src="./images/board_right_d.png" alt="" class="board-right-number-right1">
                <img src="./images/board_right.png" alt="" class="board-right-number-right2">
            </div>
            <div class="board-right-write">글쓰기</div>
        </div>
    </div>
    <div class="search-bg">
        <div class="search-bg-center cf">
            <div class="search-bg-center-left"></div>
            <div class="search-bg-center-right">
                <select name="게시판" id="">
                    <option value="">테스트</option>
                    <option value="">테스트</option>
                    <option value="">테스트</option>
                </select>
                <input type="text">
                <label for=""><img src="./images/search_15.png" alt=""></label>
                <button>통합검색하기</button>
            </div>
        </div>
    </div>
