<div id="wrap">
    <div class="boardsub cf">
        <div class="boardsub-left cf">
            <h2>공대마당</h2>
            <ul  class="main-left-ul">
                <li class="liactive"><a href="">공지사항</a></li>
                <li><a href="">자유게시판</a></li>
                <li><a href="">학생회</a></li>
                <li><a href="">동아리</a></li>
                <li><a href="">채용정보</a></li>
                <li><a href="">자료실</a></li>
                <li><a href="">동문소식</a></li>
                <li><a href="">포토갤러리</a></li>
            </ul>
        </div>
        <div class="boardsub-right">
            <span class="others-right-line"></span>
            <h2>[학과] 실험실습비 사용에 대한 안내 (기계공학종합설계 1,2 / 프젝세)</h3>
            <div class="boardsub-right-header cf">
                <div><span>작성자</span> 관리자</div>
                <div><span>작성일</span> 2017.11.29</div>
                <div><span>조회수</span> 247</div>
            </div>
            <h3 class="boardsub-right-file"><img src="./images/file.png" alt=""> 실험실습비 양식.xlsx (33kb)</h3>
            <span class="others-right-line"></span>
            <p>
                실험실습비는 학부 수업과 관련한 실험실습교육에 지출하는 비용으로 <br>
                학교의 "실험실습비 운영지침"에 의하여 사용합니다. <br>
                2012년부터 전자결재시스템 도입으로 아래와 같은 업무절차가 필요합니다. <br><br>
                ※ 업무절차<br>
                1. 구매전 제출 서류 물품청구서와 견적서 제출 <br>
                 &nbsp;&nbsp;&nbsp;① 물품청구서<br>
                 &nbsp;&nbsp;&nbsp;② 물품청구서(50만원이상 구입시 비교견적서 2부 제출)<br>
                2. 행정실에서 기안 작성, 결재 완료 후 물품 구매가 가능함을 알림 <br>
                3. 물품 구매 후 아래 서류 제출<br>
                 &nbsp;&nbsp;&nbsp;① 세금계산서(결재완료일 이후 날짜로 발행)<br>
                 &nbsp;&nbsp;&nbsp;② 검수조서<br>
                 &nbsp;&nbsp;&nbsp;③ 결과보고서 <br>
                 처음 거래하는 업체는 사업자등록증 사본, 계좌 사본 제출 <br>
                 비교견적서는 물품구입한 거래처에 요청하면 대부분 만들어줍니다.<br>
                 단독계약물품일 경우 업체에서 득점계약증명서를 받아 첨부합니다. <br>
                 50만원 이하는 비교견적 피요없습니다~!!<br>
            </p>
            <span class="others-right-line"></span>
            <h3>댓글</h3>
            <div class="boardsub-right-header-write">
                <div class="boardsub-right-header-write-who cf">
                    <div><span>작성자</span> 관리자</div>
                    <div><span>작성일</span> 2017.11.29</div>
                </div>
                <p>
                    안녕하세요. 입학관리팀입니다. <br>
                    먼저 본 대학에 많은 관심을 가져주신 점에 대해 감사드리며, 질의하신 사항에 대하여 다음과 같이 회신드립니다.<br>
                    1.입학식은 3월 2일 11시로 예정되어 있습니다.<br>
                    2 오티는 해당학과로 문의해주시기 바랍니다.<br>
                    3.본 등록금 등록기간은 2월 7일~2월 9일입니다<br><br>
                    좋은 하루 활기찬 하루 되시기 바랍니다.<br>
                    감사합니다.                
                </p>
                <div class="boardsub-right-header-write-btn">답글</div>
            </div>
            <div class="boardsub-right-header-write1">
                <div class="boardsub-right-header-write1-who cf">
                    <img src="./images/reply.png" alt="">
                    <div><span>작성자</span> 관리자</div>
                    <div><span>작성일</span> 2017.11.29</div>
                </div>
                <p>감사합니다.</p>
            </div>
            <div class="boardsub-right-header-write">
                <div class="boardsub-right-header-write-who cf">
                    <div><span>작성자</span> 관리자</div>
                    <div><span>작성일</span> 2017.11.29</div>
                </div>
                <p>
                    안녕하세요~ <br>
                    좋은 하루 되세요.
                </p>
                <div class="boardsub-right-header-write-btn">답글</div>
            </div>
            <span class="others-right-line"></span>
            <h2>댓글 달기</h2>
            <textarea name="" id="" cols="120" placeholder="내용을 적어주세요." rows="10"></textarea>
            <div class="boardsub-right-btn">등록</div>
            <div class="boardsub-right-next">
                <p><span>이전글</span>이전글이 없습니다.</p>
                <p><span>다음글</span>[학과] <2017학년도 2학기 설계스튜디오 대여 안내></p>
            </div>
            <div class="boardsub-right-leftbtn">목록</div>
            <div class="boardsub-right-rightbtn">글쓰기</div>
        </div>
    </div>
</div>