<style>
    .error-wrapper{
        margin:0 auto;
        text-align: center;
        font-weight: bold;
        font-size:40px;
        padding:100px;

        
    }
    h1{
        font-size:40px;
        font-weight:bold;
    }
</style>
<div class="error-wrapper">
    <h1>페이지에 오류가 있습니다.</h1>
    <h4>{{message}}</h4>
    {{!-- <h5>{{error.status}}</h5> --}}
{{!-- <pre>{{error.stack}}</pre> --}}
 </div>