<style>
    #header{display: none;}
    #wrap .searchmenu{display: block;position:static;top:0;}
</style>
    <div class="event cf">
        <div class="event-left">
            <h2>통합검색</h2>
            <ul  class="main-left-ul">
                <li><a href="">전체</a></li>
                <li><a href="">게시판</a></li>
                <li class="liactive2"><a href="">뉴스</a></li>
                <li><a href="">이벤트</a></li>
            </ul>
        </div>
        <div class="event-right">
            <h3>뉴스 내 결과 총 276건</h3>
            <span class="event-right-line"></span>
            <div class="event-right-box cf">
                <div class="event-right-box-content">
                    <span class="event-right-box-content-img"></span>
                    <p>교류/실천</p>
                    <h3>로마에서 고등교육의<br> 미래를 논하다</h3>
                    <span>11월 16일부터 3일간 이탈리아 로마대학에서 토론회의를 열었다</span>
                    <span>2017.12.05</span>
                </div>
                <div class="event-right-box-content">
                    <span class="event-right-box-content-img"></span>
                    <p>교류/실천</p>
                    <h3>로마에서 고등교육의<br> 미래를 논하다</h3>
                    <span>11월 16일부터 3일간 이탈리아 로마대학에서 토론회의를 열었다</span>
                    <span>2017.12.05</span>
                </div>
                <div class="event-right-box-content">
                    <span class="event-right-box-content-img"></span>
                    <p>교류/실천</p>
                    <h3>로마에서 고등교육의<br> 미래를 논하다</h3>
                    <span>11월 16일부터 3일간 이탈리아 로마대학에서 토론회의를 열었다</span>
                    <span>2017.12.05</span>
                </div>
                <div class="event-right-box-content">
                    <span class="event-right-box-content-img"></span>
                    <p>교류/실천</p>
                    <h3>로마에서 고등교육의<br> 미래를 논하다</h3>
                    <span>11월 16일부터 3일간 이탈리아 로마대학에서 토론회의를 열었다</span>
                    <span>2017.12.05</span>
                </div>
                <div class="event-right-box-content">
                    <span class="event-right-box-content-img"></span>
                    <p>교류/실천</p>
                    <h3>로마에서 고등교육의<br> 미래를 논하다</h3>
                    <span>11월 16일부터 3일간 이탈리아 로마대학에서 토론회의를 열었다</span>
                    <span>2017.12.05</span>
                </div>
                <div class="event-right-box-content">
                    <span class="event-right-box-content-img"></span>
                    <p>교류/실천</p>
                    <h3>로마에서 고등교육의<br> 미래를 논하다</h3>
                    <span>11월 16일부터 3일간 이탈리아 로마대학에서 토론회의를 열었다</span>
                    <span>2017.12.05</span>
                </div>
                <div class="event-right-box-content">
                    <span class="event-right-box-content-img"></span>
                    <p>교류/실천</p>
                    <h3>로마에서 고등교육의<br> 미래를 논하다</h3>
                    <span>11월 16일부터 3일간 이탈리아 로마대학에서 토론회의를 열었다</span>
                    <span>2017.12.05</span>
                </div>
                <div class="event-right-box-content">
                    <span class="event-right-box-content-img"></span>
                    <p>교류/실천</p>
                    <h3>로마에서 고등교육의<br> 미래를 논하다</h3>
                    <span>11월 16일부터 3일간 이탈리아 로마대학에서 토론회의를 열었다</span>
                    <span>2017.12.05</span>
                </div>
            </div>
            <div class="board-right-number cf">
                <img src="./images/board_left_d.png" alt="" class="board-right-number-left1">
                <img src="./images/board_left.png" alt="" class="board-right-number-left2">
                <ul class="cf">
                    <li class="choice"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">6</a></li>
                    <li><a href="">7</a></li>
                    <li><a href="">8</a></li>
                    <li><a href="">9</a></li>
                    <li><a href="">10</a></li>
                </ul>
                <img src="./images/board_right_d.png" alt="" class="board-right-number-right1">
                <img src="./images/board_right.png" alt="" class="board-right-number-right2">
            </div>
        </div>
    </div>