<!--<div class="container">
  <h1>Snake Gamesss</h1>
</div>
<canvas id="canvas" width="450" height="450"></canvas>-->

<!--<script>
  var msg;
  msg = "msg hello world";
  console.log(msg);
  var KoreaSeoulHome; // 캐멀케이스 (이것이 변수 선언시 자주 쓰임 )
  var korea_Seoul_Home; // 스네이크 케이스 
  console.log("hello world");
</script>

<script src="./js/script.js"></script>-->

<!--<script>
  var num = 100;
  var str="Hellow world"; // 여기에다 숫자를 넣어도 결국은 문자열 100 이라는 문자열이 된다.
  var bool = false; // true , false 두가지 값만 있다. 
  var n = null; // 값의 초기화 명시적으로 공간을 비워놓은것 (초기화만 시킨것)
  var u; // undefined // 변수를 선언하기만 한것
  // 위 5개가 기본타입 (원시타입)

  var obj = {name:"Hongsoek" };  // 오브젝트 
  var arr =[10,20,30]; // 배열 
  var func = function(a,b){ // 기능을 만들때 쓰는것이 함수 
    return a + b;
  }
  // 위 3가지가 참조타입 

</script>-->

<!--<script>
  var str1 = "hello world";
  var str2 = 'Nice to meet you';
  var str3 = "She's girl";   // 큰따옴표 사용시 그냥 작은 따옴표 사용하면 된다.
  var str3 = 'She\'s girl';   // 작은 따옴표 안에 작은 따옴표를 사용하고 싶다면 역슬러쉬 사용
  console.log(str3);

  // Number 
  var int =10; 
  var int1 ="10"; 
  var flo = 3.14;
  console.log(int1 + flo); // 10이라는 문자열 뒤에 3.14가 붙는 형식 
  console.log(int + flo); // 그냥 진짜 더하기 
</script>-->

<script>
  var a = "10"; 
  var b = "20";
  console.log(a + b); // 문자열에서 덧셈은 덧셈이 되지 않고 그냥 나열만 된다. 
  console.log(a - b); // 그외 뺄셈, 곱셈 , 나눗셈 등등은 일반적인 숫자와 같이 계산된다.
  console.log(a * b);
  console.log(a / b);
  console.log(a % b);

  var firstName = "Hong";
  var lastName = "soek";
  console.log(firstName + lastName);
</script>