<style>
    #wrap #header .nav{background: #071f4a;}
    #wrap #header .header_top .header_top-logo .header_top-logo-img{
        background: url(.././images/mechanical_logo.jpg) no-repeat;
        background-size:100% 100%;
    } 
    #wrap #header .header_top-logo-img{
        background: url(.././images/mechanical_logo.jpg) no-repeat;
        background-size:100% 100%;
        }
    #wrap #footer .footer_middle_main .header_top-logo-img{
        background: url(.././images/mechanical_logo.jpg) no-repeat;
        background-size:100% 100%;
    }
</style>
    <div id="slider">
        <div class="slider_img">
            <div class="slider_img-1">
                <p>경희대학교 공과대학</p>
                <h2>2018학년도 <br> 최종합격자 발표</h2>
                <span>2018년도에도 <br>여러분들의 꿈을 공과 대학과 함께</span>
                <a href="">바로가기</a>
            </div>
            <div class="slider_img-2">
                <p>경희대학교 공과대학</p>
                <h2>2018학년도 <br> 최종합격자 발표</h2>
                <span>2018년도에도 <br>여러분들의 꿈을 공과 대학과 함께</span>
                <a href="">바로가기</a>
            </div>
            <div class="slider_img-3">
                <p>경희대학교 공과대학</p>
                <h2>2018학년도 <br> 최종합격자 발표</h2>
                <span>2018년도에도 <br>여러분들의 꿈을 공과 대학과 함께</span>
                <a href="">바로가기</a>
            </div>
        </div>
    </div>
    <div id="section">
        <div class="section1">
            <div class="section1-content cf"><!--게시판-->
                <div class="section1-content-left">
                    <div>
                        <h3>입학안내</h3>
                        <p>학부 및 대학원 입학 안내</p>
                        <a href="">바로가기</a>
                    </div>
                    <div>
                        <h3>수시모집</h3>
                        <p>논술/실기/학생부 종합선정 안내</p>
                        <a href="">바로가기</a>
                    </div>
                </div>
                <div class="section1-content-right">
                    <ul class="cf">
                        <li class="on">게시판1</li>
                        <li>게시판2</li>
                        <li>게시판3</li>
                    </ul>
                    <div>
                        <table>
                            <tr>
                                <th><span>항목</span></th>
                                <th>2018 SAP KOREA 인턴 공개채용</th>
                                <th>2017.11.29</th>
                            </tr>
                            <tr>
                                <th><span>항목</span></th>
                                <th>2018 SAP KOREA 인턴 공개채용</th>
                                <th>2017.11.29</th>
                            </tr>
                            <tr>
                                <th><span>항목</span></th>
                                <th>2018 SAP KOREA 인턴 공개채용</th>
                                <th>2017.11.29</th>
                            </tr>
                            <tr>
                                <th><span>항목</span></th>
                                <th>2018 SAP KOREA 인턴 공개채용</th>
                                <th>2017.11.29</th>
                            </tr>
                            <tr>
                                <th><span>항목</span></th>
                                <th>2018 SAP KOREA 인턴 공개채용</th>
                                <th>2017.11.29</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="section1-bx" style="background:#0a326e;"> <!--bx슬라이더-->
                <div class="section1-bx-content">
                    <ul>
                        <li><span>공휴일</span> 2017.11.19 대체공휴일</li>
                        <li><span>공휴일</span> 2017.11.19 대체공휴일</li>
                        <li><span>공휴일</span> 2017.11.19 대체공휴일</li>
                        <li><span>공휴일</span> 2017.11.19 대체공휴일</li>
                    </ul>
                </div>
                <div class="section1-bx-left" style="background:#071f4a;"><img src="./images/left.png" alt=""></div>
                <div class="section1-bx-right" style="background:#071f4a;"><img src="./images/right.png" alt=""></div>
            </div>
        </div>
        <div class="section2"><!--뉴스-->
            <h3>뉴스 <span>더보기<img src="./images/more.png" alt=""></span></h3>
            <div class="section2-content cf">
                <div class="section2-content-box">
                    <div class="section2-content-box-img"></div>
                    <p>교류/실천</p>
                   <h3>한국인만 모르는 <br>'더 큰 대한민국'</h3>
                    <span>지난 11월 22일 '제43회 중앙도서관 독서콘서트을 열었다'</span>
                    <span>2017.12.06</span>
                </div>
                <div class="section2-content-box">
                    <div class="section2-content-box-img"></div>
                    <p>교육</p>
                    <h3>'웃는사자'가 바라보는 <br>경희의 자부심은?</h3>
                    <span>2017년 웃는 사자가 탄생했다 경희대는 그를 찾아가보기로 했다</span>
                    <span>2017.12.05</span>
                </div>
                <div class="section2-content-box">
                    <div class="section2-content-box-img"></div>
                    <p>교류/실천</p>
                    <h3>로마에서 고등교육의<br> 미래를 논하다</h3>
                    <span>11월 16일부터 3일간 이탈리아 로마대학에서 토론회의를 열었다</span>
                    <span>2017.12.05</span>
                </div>
                <div class="section2-content-box">
                    <div class="section2-content-box-img"></div>
                    <p>교류/실천</p>
                    <h3>실천 지성이 존경받는<br>"대학다운 대학"</h3>
                    <span>국가고객만족도조사결과, 15개 주요사립대학중 1등을 차지하였다</span>
                    <span>2017.11.29</span>
                </div>
            </div>
        </div>
        <div class="section3"><!--이벤트-->
            <h3>갤러리 <span>더보기<img src="./images/more.png" alt=""></span></h3>
            <div class="section3-content cf">
                <div class="section3-content-gallay1 cf">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="section3-content-gallay2 cf">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

