<style>
    #wrap #header .nav{background: #071f4a;}
    #wrap #header .header_top .header_top-logo .header_top-logo-img{
        background: url(.././images/mechanical_logo.jpg) no-repeat;
        background-size:100% 100%;
    } 
    #wrap #footer .footer_middle_main .header_top-logo-img{
        background: url(.././images/mechanical_logo.jpg) no-repeat;
        background-size:100% 100%;
    }
</style>
    <div class="professor cf">
        <div class="professor-left">
            <h2>교수/연구</h2>
            <ul  class="main-left-ul">
                <li class="liactive1"><a href="">교수진검색</a></li>
                <li><a href="">연구실검색</a></li>
            </ul>
        </div>
        <div class="professor-right">
            <h3></h3>
            <span class="professor-right-line"></span>
            <div class="cf">
                <div class="professor-right-box">
                    <!--<img src="" alt="">-->
                    <a href=""></a>
                    <div class="professor-right-box-content">
                        <h3>김경훈 교수</h3>
                        <div><span>최종학위</span>홍익대학교 공학박사</div>
                        <div><span>전공분야</span>유체공학</div>
                        <div><span>연구분야</span>유체공학, 유동가시화 및 에너지 변환시스템</div>
                    </div>
                </div>
                <div class="professor-right-box">
                    <!--<img src="" alt="">-->
                    <a href=""></a>
                    <div class="professor-right-box-content">
                        <h3>허유 교수</h3>
                        <div><span>최종학위</span>Stutgart University 공학박사</div>
                        <div><span>전공분야</span>섬유기계/자동제어</div>
                        <div><span>연구분야</span>지능공정제어, 섬유제어</div>
                    </div>
                </div>
                <div class="professor-right-box">
                    <!--<img src="" alt="">-->
                    <a href=""></a>
                    <div class="professor-right-box-content">
                        <h3>권영하 교수</h3>
                        <div><span>최종학위</span>University of illnois at chicago 공학박사</div>
                        <div><span>전공분야</span>통역학 및 제어</div>
                        <div><span>연구분야</span>생체모방</div>
                    </div>
                </div>
                <div class="professor-right-box">
                    <!--<img src="" alt="">-->
                    <a href=""></a>
                    <div class="professor-right-box-content">
                        <h3>김창영 교수</h3>
                        <div><span>최종학위</span>University of Callfornia Los Angeles 공학박사</div>
                        <div><span>전공분야</span>유체공학</div>
                        <div><span>연구분야</span>전산열유체공학, 미세유체유동 및 미세열전달, 생체유체역학</div>
                    </div>
                </div>
                <div class="professor-right-box">
                    <!--<img src="" alt="">-->
                    <a href=""></a>
                    <div class="professor-right-box-content">
                        <h3>유송민 교수</h3>
                        <div><span>최종학위</span>University of Callfornia at Berkeley 공학박사</div>
                        <div><span>전공분야</span>I.T.S/교통공학</div>
                        <div><span>연구분야</span>정밀가공,공정진단 및 신경망 응용, 지능형 자동차</div>
                    </div>
                </div>
                <div class="professor-right-box">
                    <!--<img src="" alt="">-->
                    <a href=""></a>
                    <div class="professor-right-box-content">
                        <h3>전흥신 교수</h3>
                        <div><span>최종학위</span>Tohoku University 공학박사</div>
                        <div><span>전공분야</span>에너지동력공학</div>
                        <div><span>연구분야</span>엑체미립화기구, 내외연기관연소, 에너지플랜트 설계</div>
                    </div>
                </div>
                <div class="professor-right-box">
                    <!--<img src="" alt="">-->
                    <a href=""></a>
                    <div class="professor-right-box-content">
                        <h3>최명진 교수</h3>
                        <div><span>최종학위</span>North Carolina State University 공학박사</div>
                        <div><span>전공분야</span>동역학 및 제어</div>
                        <div><span>연구분야</span>전산역학,진동,소음,동역학 및 기구시스템</div>
                    </div>
                </div>
                <div class="professor-right-box">
                    <!--<img src="" alt="">-->
                    <a href=""></a>
                    <div class="professor-right-box-content">
                        <h3>홍희기 교수</h3>
                        <div><span>최종학위</span>University of Tokyo 공학박사</div>
                        <div><span>전공분야</span>동역학 및 제어</div>
                        <div><span>연구분야</span>시스템 디자인, CAD/CAE, 기계진동, 메카트로닉스</div>
                    </div>
                </div>
            </div>
            <div class="board-right-number cf">
                <img src="./images/board_left_d.png" alt="" class="board-right-number-left1">
                <img src="./images/board_left.png" alt="" class="board-right-number-left2">
                <ul class="cf">
                    <li class="choice"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">6</a></li>
                    <li><a href="">7</a></li>
                    <li><a href="">8</a></li>
                    <li><a href="">9</a></li>
                    <li><a href="">10</a></li>
                </ul>
                <img src="./images/board_right_d.png" alt="" class="board-right-number-right1">
                <img src="./images/board_right.png" alt="" class="board-right-number-right2">
            </div>
        </div>
    </div>
    <div class="search-bg">
        <div class="search-bg-center cf">
            <div class="search-bg-center-left"></div>
            <div class="search-bg-center-right">
                <select name="게시판" id="">
                    <option value="">테스트</option>
                    <option value="">테스트</option>
                    <option value="">테스트</option>
                </select>
                <input type="text">
                <label for=""><img src="./images/search_15.png" alt=""></label>
                <button style="background:#0a326e;">검색하기</button>
            </div>
        </div>
    </div>