<style>
    #wrap #header .nav{background: #071f4a;}
    #wrap #header .header_top .header_top-logo .header_top-logo-img{
        background: url(.././images/mechanical_logo.jpg) no-repeat;
        background-size:100% 100%;
    } 
    #wrap #footer .footer_middle_main .header_top-logo-img{
        background: url(.././images/mechanical_logo.jpg) no-repeat;
        background-size:100% 100%;
    }
</style>
    <div class="psub cf">
        <div class="psub-left cf">
            <h2>교수/연구</h2>
            <ul  class="main-left-ul">
                <li class="liactive1"><a href="">교수진검색</a></li>
                <li><a href="">연구실검색</a></li>
            </ul>
        </div>
        <div class="psub-right cf">
            <span class="event-right-line"></span>
            <div class="psub-right-info cf">
                <span></span>
                <h3>김경훈 교수</h3>
                <div class="psub-right-info-box">
                    <div class="psub-right-info-box-1">
                        <div><span>최종학위</span>홍익대학교 공학박사</div>
                        <div><span>전공분야</span>유체공학</div>
                        <div><span>연구분야</span>유체공학,유동가시화 및 에너지 변환시스템</div>
                    </div>
                    <div class="psub-right-info-box-2">
                        <div><span>연구실위치</span>공학관 402호</div>
                        <div><span>연구실전화</span>031-201-2509</div>
                        <div><span>이메일주소</span>kimkh@khu.ac.kr</div>
                    </div>
                </div>
            </div>
            <div class="psub-right-career cf">
                <div class="psub-right-career-1">학력</div>
                <div class="psub-right-career-2">서울대 미술학사 <br>서울대 미술석사 <br>New York 대학 미술학 석사 <br>숭실대 공학박사</div>
            </div>
            <div class="psub-right-career cf">
                <div class="psub-right-career-1">강의과목</div>
                <div class="psub-right-career-2">그래픽아트웍 / 그래픽아트웍실무 / <br> 포트폴리오작성법 / 디자인문화탐사</div>
            </div>
            <div class="psub-right-career cf">
                <div class="psub-right-career-1">저서</div>
                <div class="psub-right-career-2">건강,스포츠 심리학개론 외 12권</div>
            </div>
            <div class="psub-right-career cf">
                <div class="psub-right-career-1">논문</div>
                <div class="psub-right-career-2">노인의 여가참여형태가 일상생활 수행능력과 정신건강에 미치는 영향</div>
            </div>
        </div>
    </div>
        <div class="search-bg">
        <div class="search-bg-center cf">
            <div class="search-bg-center-left"></div>
            <div class="search-bg-center-right">
                <select name="게시판" id="">
                    <option value="">테스트</option>
                    <option value="">테스트</option>
                    <option value="">테스트</option>
                </select>
                <input type="text">
                <label for=""><img src="./images/search_15.png" alt=""></label>
                <button style="background:#071f4a;">통합검색하기</button>
            </div>
        </div>
    </div>