<style>
    #header{display: none;}
    #wrap .searchmenu{display: block;position:static;top:0;}
</style>
    <div class="search-main cf">
        <div class="search-main-left">
            <h2>통합검색</h2>
            <ul  class="main-left-ul">
                <li class="liactive2"><a href="">전체</a></li>
                <li><a href="">게시판</a></li>
                <li><a href="">뉴스</a></li>
                <li><a href="">이벤트</a></li>
            </ul>
        </div>
        <div class="search-main-right">
            <h3>게시판 내 결과 총 276건</h3>
            <span class="event-right-line"></span>
            <table class="cf">
                <tr>
                    <td>[공지]</td>
                    <td>2018 SAP KOREA 인턴 공개채용</td>
                    <td>2017.11.29</td>
                </tr>
                <tr>
                    <td>[공지]</td>
                    <td>현(전)직자와 함께하는 모의면접 프로그램</td>
                    <td>2017.11.29</td>
                </tr>
                <tr>
                    <td>[공지]</td>
                    <td>2017 우수벤처기업 컴퍼스 리크루팅 페어</td>
                    <td>2017.11.29</td>
                </tr>
                <tr>
                    <td>[공지]</td>
                    <td>일신종합환경 추천 채용</td>
                    <td>2017.11.29</td>
                </tr>
                <tr>
                    <td>[공지]</td>
                    <td>강의실 검색</td>
                    <td>2017.11.29</td>
                </tr>
                <tr>
                    <td>[공지]</td>
                    <td>현(전)직자와 함께하는 모의면접 프로그램</td>
                    <td>2017.11.29</td>
                </tr>
                <tr>
                    <td>[공지]</td>
                    <td>세미나 공고</td>
                    <td>2017.11.29</td>
                </tr>
                <tr>
                    <td>[공지]</td>
                    <td>2016학년도 후기 학위수여식 안내</td>
                    <td>2017.11.29</td>
                </tr>
                <tr>
                    <td>[공지]</td>
                    <td>기계공학실 오리엔테이션 공지</td>
                    <td>2017.11.29</td>
                </tr>
                <tr>
                    <td>[공지]</td>
                    <td>폐강 및 변경 강좌 안내</td>
                    <td>2017.11.29</td>
                </tr>
            </table>
            <div class="board-right-number cf">
                <img src="./images/board_left_d.png" alt="" class="board-right-number-left1">
                <img src="./images/board_left.png" alt="" class="board-right-number-left2">
                <ul class="cf">
                    <li class="choice"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">6</a></li>
                    <li><a href="">7</a></li>
                    <li><a href="">8</a></li>
                    <li><a href="">9</a></li>
                    <li><a href="">10</a></li>
                </ul>
                <img src="./images/board_right_d.png" alt="" class="board-right-number-right1">
                <img src="./images/board_right.png" alt="" class="board-right-number-right2">
            </div>
        </div>
    </div>