@charset "UTF-8";
/*
    가능하면 영역별로 wrapper로 싸서 작성해주세요

    메인 영역이면, 
    .main-wrapper{
        .title{
            ...
        }
        .content{
            ...
        }
    }

 */
.display-block {
  display: block !important; }

.display-none {
  display: none !important; }

.a-button, #wrap .searchmenu-center-searchbar-tags a, #wrap #slider .slider_img-1 a, #wrap #slider .slider_img-2 a, #wrap #slider .slider_img-3 a, #wrap #section .section1-content-left div a {
  display: block;
  border-style: solid;
  border-color: #fff;
  border-width: 1px;
  border-radius: 20px;
  color: #fff;
  padding: 5px 0;
  text-align: center; }

#wrap {
  width: 100%;
  position: relative;
  overflow: hidden; }
  #wrap .bg-back-opacity {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 19;
    background: rgba(0, 0, 0, 0.3); }
  #wrap .bg-back-login {
    position: fixed;
    z-index: 21;
    display: none;
    top: 85px;
    left: 50%;
    margin-left: -160px;
    width: 320px;
    height: 295px;
    background: #fff; }
    #wrap .bg-back-login-title {
      width: inherit;
      height: 45px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      box-sizing: border-box;
      padding: 10px 18px 0 18px; }
      #wrap .bg-back-login-title h3 {
        color: #062c6b;
        margin-bottom: 6px; }
      #wrap .bg-back-login-title span {
        width: 50px;
        height: 2px;
        display: block;
        background: #062c6b; }
    #wrap .bg-back-login-box {
      box-sizing: border-box;
      padding: 15px; }
      #wrap .bg-back-login-box label {
        display: block;
        margin-bottom: 10px;
        color: #999; }
      #wrap .bg-back-login-box input {
        width: 100%;
        height: 35px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        margin-bottom: 10px;
        color: #999; }
      #wrap .bg-back-login-box a {
        background: #a40e16;
        width: 100%;
        display: block;
        text-align: center;
        box-sizing: border-box;
        padding-top: 7px;
        height: 35px;
        border-radius: 20px;
        color: #fff; }
  #wrap .searchmenu {
    display: none;
    width: 100%;
    background: #232323;
    padding: 13px 0;
    position: absolute;
    box-sizing: border-box;
    top: -150px;
    z-index: 40; }
    #wrap .searchmenu-center {
      width: 100%;
      max-width: 1280px;
      margin: 0 auto; }
      #wrap .searchmenu-center-logo {
        width: 20%;
        float: left;
        padding-left: 3%;
        box-sizing: border-box; }
        #wrap .searchmenu-center-logo img {
          min-width: 200px;
          width: 100%; }
      #wrap .searchmenu-center-searchbar {
        width: 80%;
        float: left;
        padding-left: 30px;
        box-sizing: border-box; }
        #wrap .searchmenu-center-searchbar p {
          color: #fff;
          box-sizing: border-box;
          margin-bottom: 5px;
          width: 100%;
          max-width: 920px; }
          #wrap .searchmenu-center-searchbar p > img {
            width: 20px;
            margin-right: 5px;
            position: absolute;
            left: 30px;
            display: none; }
          #wrap .searchmenu-center-searchbar p .close {
            position: absolute;
            right: 0;
            top: 4px; }
          #wrap .searchmenu-center-searchbar p span {
            float: right;
            padding-right: 20px;
            margin-top: 5px;
            position: relative;
            cursor: pointer; }
        #wrap .searchmenu-center-searchbar-tags {
          margin-bottom: 20px; }
          #wrap .searchmenu-center-searchbar-tags a {
            width: 60px;
            float: left;
            font-size: 10px;
            font-weight: normal;
            border-color: #676767;
            color: #676767;
            padding: 1px 0; }
        #wrap .searchmenu-center-searchbar-bar select {
          width: 90px;
          height: 36px;
          float: left; }
        #wrap .searchmenu-center-searchbar-bar input {
          display: block;
          float: left;
          width: 70%;
          height: 36px;
          margin-left: 15px;
          box-sizing: border-box;
          padding-left: 10px; }
        #wrap .searchmenu-center-searchbar-bar button {
          display: block;
          height: 36px;
          float: left;
          background: #575756;
          padding: 8px 20px;
          color: #fff; }
        #wrap .searchmenu-center-searchbar-bar img {
          display: none; }
  #wrap #header {
    width: 100%;
    position: relative; }
    #wrap #header .header_top {
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      height: 84px;
      width: inherit;
      box-sizing: border-box;
      padding-top: 30px; }
      #wrap #header .header_top-logo {
        float: left;
        padding-left: 60px;
        box-sizing: border-box; }
        #wrap #header .header_top-logo-img {
          display: block;
          width: 195px;
          height: 38px;
          background: url(.././images/logo35.png) no-repeat;
          background-size: 100% 100%; }
      #wrap #header .header_top-rightmenu {
        width: 65%;
        float: right;
        padding-right: 50px; }
        #wrap #header .header_top-rightmenu select {
          display: block;
          float: right;
          margin-right: 10px;
          border: 1px solid #999; }
        #wrap #header .header_top-rightmenu ul {
          float: right; }
          #wrap #header .header_top-rightmenu ul li {
            cursor: pointer;
            float: left;
            padding: 0 12px;
            border-left: 1px solid #a9a9a9;
            font-size: 12px; }
            #wrap #header .header_top-rightmenu ul li img {
              width: 15px;
              height: 15px;
              margin-right: 3px; }
      #wrap #header .header_top-rightmenu-m {
        display: none; }
    #wrap #header .nav {
      width: 100%;
      background: #6d0f13;
      position: relative; }
      #wrap #header .nav-center {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 15px 0 0 0;
        box-sizing: border-box; }
        #wrap #header .nav-center-login {
          display: none; }
        #wrap #header .nav-center ul li {
          padding: 0 0 0 60px;
          float: left;
          color: #fff;
          height: 35px;
          cursor: pointer; }
          #wrap #header .nav-center ul li p {
            padding-bottom: 10px; }
          #wrap #header .nav-center ul li p.border-bottom {
            border-bottom: 3px solid #fff; }
          #wrap #header .nav-center ul li span {
            display: none; }
          #wrap #header .nav-center ul li div {
            width: 100%;
            position: absolute;
            top: 50px;
            display: none;
            left: 0;
            background: #fff;
            border-bottom: 1px solid #a9a9a9;
            z-index: 40; }
            #wrap #header .nav-center ul li div ul {
              width: 100%;
              max-width: 1280px;
              margin: 0 auto;
              height: 45px; }
              #wrap #header .nav-center ul li div ul li {
                color: #dbcfcf;
                padding: 10px 0 32px 0;
                box-sizing: border-box;
                margin-left: 60px; }
              #wrap #header .nav-center ul li div ul li:hover {
                color: #062c6b;
                border-bottom: 3px solid #062c6b; }
        #wrap #header .nav-center .logout {
          display: none; }
  #wrap #slider {
    max-width: 1280px;
    width: 100%;
    height: 427px;
    position: relative;
    margin: 0 auto;
    overflow: hidden; }
    #wrap #slider .slider_img-1, #wrap #slider .slider_img-2, #wrap #slider .slider_img-3 {
      position: absolute;
      top: 0;
      width: 100%;
      background-size: 100% 100%;
      box-sizing: border-box;
      padding: 100px 0 110px 60px;
      color: #fff; }
      #wrap #slider .slider_img-1 p, #wrap #slider .slider_img-2 p, #wrap #slider .slider_img-3 p {
        margin-bottom: 20px; }
      #wrap #slider .slider_img-1 span, #wrap #slider .slider_img-2 span, #wrap #slider .slider_img-3 span {
        display: block;
        margin: 15px 0 20px 0; }
      #wrap #slider .slider_img-1 a, #wrap #slider .slider_img-2 a, #wrap #slider .slider_img-3 a {
        width: 80px; }
    #wrap #slider .slider_img-1 {
      left: 0;
      background: red; }
    #wrap #slider .slider_img-2 {
      left: 100%;
      background: yellow; }
    #wrap #slider .slider_img-3 {
      left: 200%;
      background: green; }
    #wrap #slider .prev_btn {
      position: absolute;
      top: 190px;
      left: 15px;
      cursor: pointer; }
    #wrap #slider .next_btn {
      position: absolute;
      top: 190px;
      right: 15px;
      cursor: pointer; }
    #wrap #slider .btn {
      position: absolute;
      bottom: 10px;
      left: 50%;
      margin-left: -33px; }
      #wrap #slider .btn span {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        float: left;
        display: block;
        border-style: solid;
        border-color: #fff;
        border-width: 1px;
        border-radius: 10px;
        cursor: pointer; }
      #wrap #slider .btn span.on1 {
        background: #fff; }
  #wrap #section {
    max-width: 973px;
    width: 100%;
    margin: 0 auto; }
    #wrap #section .section1 {
      position: relative;
      margin-top: 30px; }
      #wrap #section .section1-content {
        width: 100%;
        height: 300px;
        margin-bottom: 12px; }
        #wrap #section .section1-content-left {
          width: 50%;
          height: inherit;
          float: left; }
          #wrap #section .section1-content-left div {
            background: #a40e16;
            height: 300px;
            width: 48%;
            float: left;
            padding: 170px 0 0 15px;
            box-sizing: border-box; }
            #wrap #section .section1-content-left div h3, #wrap #section .section1-content-left div p {
              color: #fff; }
            #wrap #section .section1-content-left div p {
              margin: 5px 0;
              font-size: 14px; }
            #wrap #section .section1-content-left div a {
              width: 80px;
              font-size: 12px; }
          #wrap #section .section1-content-left div:nth-child(1) {
            margin-right: 2%;
            /*background: url() no-repeat;*/ }
          #wrap #section .section1-content-left div:nth-child(2) {
            /*background: url() no-repeat;*/ }
        #wrap #section .section1-content-right {
          width: 50%;
          float: left;
          height: inherit;
          background: #fff;
          box-sizing: border-box;
          padding: 15px; }
          #wrap #section .section1-content-right ul {
            width: 100%;
            padding: 0 0 15px 0;
            border-bottom: 1px solid #999; }
            #wrap #section .section1-content-right ul li {
              float: left;
              padding: 0 5px;
              color: #999; }
            #wrap #section .section1-content-right ul li.on {
              color: #000;
              font-weight: bold; }
          #wrap #section .section1-content-right div {
            clear: both; }
            #wrap #section .section1-content-right div table {
              width: 100%; }
              #wrap #section .section1-content-right div table tr {
                width: 100%;
                border-bottom: 1px solid #999;
                display: block;
                padding: 10px 0;
                height: 49px; }
                #wrap #section .section1-content-right div table tr th {
                  display: block;
                  float: left; }
                #wrap #section .section1-content-right div table tr th:nth-child(1) {
                  width: 15%; }
                  #wrap #section .section1-content-right div table tr th:nth-child(1) span {
                    display: block;
                    text-align: center;
                    font-size: 12px;
                    font-weight: normal;
                    width: 40px;
                    margin-top: 2px;
                    color: #fff; }
                  #wrap #section .section1-content-right div table tr th:nth-child(1) span.red {
                    background: #ed4956; }
                  #wrap #section .section1-content-right div table tr th:nth-child(1) span.green {
                    background: #3bcecd; }
                  #wrap #section .section1-content-right div table tr th:nth-child(1) span.deepgreen {
                    background: #00796b; }
                  #wrap #section .section1-content-right div table tr th:nth-child(1) span.purple {
                    background: #7576b3; }
                  #wrap #section .section1-content-right div table tr th:nth-child(1) span.purple {
                    background: #7576b3; }
                  #wrap #section .section1-content-right div table tr th:nth-child(1) span.brown {
                    background: #c28d67; }
                  #wrap #section .section1-content-right div table tr th:nth-child(1) span.sky {
                    background: #49a9f5; }
                #wrap #section .section1-content-right div table tr th:nth-child(2) {
                  width: 65%;
                  text-align: left; }
                #wrap #section .section1-content-right div table tr th:nth-child(3) {
                  color: #999;
                  font-size: 12px;
                  width: 20%; }
      #wrap #section .section1-bx {
        width: 100%;
        height: 52px;
        background: #a40e16;
        position: relative; }
        #wrap #section .section1-bx-left, #wrap #section .section1-bx-right {
          width: 60px;
          height: 52px;
          position: absolute;
          padding: 12px 0 0 20px;
          box-sizing: border-box;
          top: 0;
          background: #6d0f13; }
        #wrap #section .section1-bx-left {
          left: 0; }
        #wrap #section .section1-bx-right {
          right: 0; }
        #wrap #section .section1-bx-content {
          width: 100%;
          max-width: 853px;
          margin: 0 auto;
          overflow: hidden; }
          #wrap #section .section1-bx-content ul {
            width: 100%;
            overflow: hidden;
            height: 52px;
            padding: 0 60px;
            box-sizing: border-box; }
            #wrap #section .section1-bx-content ul li {
              float: left;
              box-sizing: border-box;
              padding: 16px 0 16px 30px;
              width: 300px !important;
              font-size: 14px;
              color: #fff; }
              #wrap #section .section1-bx-content ul li span {
                font-size: 0.6em;
                width: 40px;
                padding: 0 2px;
                height: 30px;
                margin-right: 5%;
                background: #e83c4e;
                color: #fff; }
    #wrap #section .section2, #wrap #section .section3 {
      width: inherit;
      box-shadow: 0px 1px 1px #474747;
      box-sizing: border-box;
      padding: 15px;
      position: relative;
      /*h3 span{
                position: absolute;
                top:15px;
                right:15px;
            }*/ }
      #wrap #section .section2 h3, #wrap #section .section3 h3 {
        margin-bottom: 10px; }
      #wrap #section .section2 h3 span, #wrap #section .section3 h3 span {
        float: right;
        position: relative;
        font-size: 14px;
        padding: 5px 20px 0 0; }
        #wrap #section .section2 h3 span > img, #wrap #section .section3 h3 span > img {
          width: 18px;
          position: absolute;
          right: 0;
          top: 4px; }
      #wrap #section .section2-content, #wrap #section .section3-content {
        width: 100%; }
        #wrap #section .section2-content-box, #wrap #section .section3-content-box {
          width: 24%;
          margin-right: 1.3%;
          height: inherit;
          float: left;
          cursor: pointer;
          overflow: hidden; }
          #wrap #section .section2-content-box-img, #wrap #section .section3-content-box-img {
            width: 100%;
            height: 138px;
            background: #6d0f13; }
          #wrap #section .section2-content-box p, #wrap #section .section3-content-box p {
            font-size: .6em;
            color: #c9b16f;
            margin-top: 10px;
            margin-bottom: 5px; }
          #wrap #section .section2-content-box h3, #wrap #section .section3-content-box h3 {
            font-size: 18px; }
          #wrap #section .section2-content-box span, #wrap #section .section3-content-box span {
            font-size: .6em;
            color: #999;
            padding: 0;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            display: block;
            text-overflow: ellipsis;
            margin-top: 10px; }
        #wrap #section .section2-content-box:nth-last-child(1), #wrap #section .section3-content-box:nth-last-child(1) {
          margin-right: 0; }
    #wrap #section .section2 {
      margin-top: 10px; }
    #wrap #section .section3 {
      margin: 10px 0; }
  #wrap #footer {
    width: 100%;
    background: #282828; }
    #wrap #footer .footer_top {
      width: 100%;
      max-width: 963px;
      margin: 0 auto; }
      #wrap #footer .footer_top ul li {
        float: left;
        width: 24%; }
        #wrap #footer .footer_top ul li li:nth-child(2) {
          border-left: 1px solid #676767;
          border-right: 1px solid #676767; }
        #wrap #footer .footer_top ul li li:nth-child(3) {
          border-right: 1px solid #999; }
        #wrap #footer .footer_top ul li a {
          color: #676767;
          display: block;
          width: 100%;
          padding: 20px 0;
          text-align: center; }
    #wrap #footer .footer_middle {
      width: 100%;
      background: #fff; }
      #wrap #footer .footer_middle_main {
        width: inherit;
        max-width: 1160px;
        margin: 0 auto; }
        #wrap #footer .footer_middle_main .header_top-logo-img {
          display: block;
          width: 195px;
          height: 38px;
          background: url(.././images/logo35.png) no-repeat;
          background-size: 100% 100%;
          float: left;
          margin-top: 23px; }
        #wrap #footer .footer_middle_main-info {
          float: right;
          width: 300px;
          padding: 23px 0 30px 0; }
          #wrap #footer .footer_middle_main-info-social {
            text-align: right;
            clear: both;
            margin-bottom: 8px; }
          #wrap #footer .footer_middle_main-info img {
            width: 20px;
            height: 20px;
            margin-right: 5px; }
          #wrap #footer .footer_middle_main-info img:nth-last-child(1) {
            margin-right: 0; }
          #wrap #footer .footer_middle_main-info select {
            width: 130px;
            height: 18px;
            margin-bottom: 8px;
            float: right;
            font-size: 10px; }
          #wrap #footer .footer_middle_main-info p {
            text-align: right;
            margin-left: -70px; }

@media screen and (max-width: 960px) {
  .searchmenu-searchbar-bar input {
    width: 60% !important; }
  #wrap #header .header_top-rightmenu {
    padding: 0; } }

@media screen and (max-width: 750px) {
  #wrap {
    width: 100%; }
    #wrap .searchmenu {
      width: 100%; }
      #wrap .searchmenu-center-logo, #wrap .searchmenu-center-searchbar {
        width: 100%;
        float: none; }
        #wrap .searchmenu-center-logo > p, #wrap .searchmenu-center-searchbar > p {
          padding-left: 30px; }
          #wrap .searchmenu-center-logo > p > img, #wrap .searchmenu-center-searchbar > p > img {
            display: block; }
      #wrap .searchmenu-center-logo {
        padding: 10px 10px 30px 10px; }
        #wrap .searchmenu-center-logo img {
          width: 250px; }
      #wrap .searchmenu-center-searchbar p span {
        position: absolute;
        top: 20px;
        right: 20px; }
      #wrap .searchmenu-center-searchbar select {
        width: 25%; }
      #wrap .searchmenu-center-searchbar input {
        box-sizing: border-box;
        padding-left: 10px;
        width: 65% !important; }
      #wrap .searchmenu-center-searchbar button {
        display: none; }
      #wrap .searchmenu-center-searchbar img {
        display: block; }
      #wrap .searchmenu-center-searchbar label {
        position: absolute;
        right: 8%;
        margin-top: 3px; }
      #wrap .searchmenu-center-searchbar-tags a {
        margin-right: 5px; }
    #wrap #header .nav {
      padding: 0;
      background: #fff;
      display: none; }
      #wrap #header .nav-center {
        padding: 0; }
        #wrap #header .nav-center-login {
          display: block;
          width: 100%;
          padding: 15px 40px 15px 80px;
          box-sizing: border-box;
          font-size: 25px;
          position: relative;
          cursor: pointer; }
          #wrap #header .nav-center-login-img {
            position: absolute;
            height: 30px;
            top: 18px;
            left: 40px; }
          #wrap #header .nav-center-login .right-grey {
            position: absolute;
            right: 20px;
            top: 18px; }
        #wrap #header .nav-center ul > li {
          width: 100%;
          height: 64px;
          overflow: hidden;
          position: relative;
          background: #a40e16;
          padding: 20px 0 0 0;
          border-top: 1px solid #999;
          color: #fff;
          box-sizing: border-box;
          font-size: 20px;
          cursor: pointer; }
          #wrap #header .nav-center ul > li p {
            padding-left: 40px;
            box-sizing: border-box; }
          #wrap #header .nav-center ul > li p.border-bottom {
            border-bottom: none; }
          #wrap #header .nav-center ul > li span {
            display: block;
            position: absolute;
            right: 20px;
            top: 20px;
            width: 18px;
            height: 30px;
            background: url(.././images/right.png); }
          #wrap #header .nav-center ul > li div {
            top: 70px; }
        #wrap #header .nav-center li.onn {
          height: auto; }
          #wrap #header .nav-center li.onn span {
            background: url(.././images/down.png);
            width: 30px;
            height: 18px; }
          #wrap #header .nav-center li.onn div {
            position: static; }
            #wrap #header .nav-center li.onn div ul {
              margin-top: 20px;
              display: block; }
              #wrap #header .nav-center li.onn div ul li {
                margin-left: 0;
                background: #6d0f13;
                color: #fff;
                padding-left: 60px;
                box-sizing: border-box; }
              #wrap #header .nav-center li.onn div ul li:hover {
                color: #fff !important;
                border-bottom: none !important; }
        #wrap #header .nav-center .logout {
          display: block;
          height: auto;
          padding: 20px 20px 20px 20px;
          background: #6d0f13; }
          #wrap #header .nav-center .logout .logout-btn {
            width: 100%;
            border-radius: 40px;
            background: #a40e16;
            text-align: center;
            padding: 10px 0;
            color: #fff; }
    #wrap .header_top {
      display: none; }
    #wrap .header_top-rightmenu-m {
      width: 100%;
      display: block !important;
      height: 80px; }
      #wrap .header_top-rightmenu-m-top {
        padding: 20px 0 15px 5%;
        box-sizing: border-box;
        height: 100px;
        border-bottom: 1px solid #999; }
        #wrap .header_top-rightmenu-m-top-logo {
          width: 50%;
          float: left;
          margin-top: 5px; }
          #wrap .header_top-rightmenu-m-top-logo img {
            width: 100%;
            min-width: 200px;
            display: block; }
        #wrap .header_top-rightmenu-m-top ul {
          float: right;
          position: relative;
          padding: 0 20px 0 0;
          box-sizing: border-box; }
          #wrap .header_top-rightmenu-m-top ul li {
            float: left;
            height: 100%;
            width: 30px;
            height: 30px;
            margin-left: 30px;
            cursor: pointer; }
            #wrap .header_top-rightmenu-m-top ul li img {
              width: inherit;
              height: inherit; }
          #wrap .header_top-rightmenu-m-top ul .header_top-rightmenu-m-top-menu img, #wrap .header_top-rightmenu-m-top ul .header_top-rightmenu-m-top-menu2 img {
            width: 30px;
            height: 30px; }
          #wrap .header_top-rightmenu-m-top ul .header_top-rightmenu-m-top-menu2 {
            display: none; }
    #wrap #section .section1-content-left {
      display: none; }
    #wrap #section .section1-content-right {
      width: 100%; }
    #wrap #section .section1-bx-content ul li {
      width: 100%;
      padding-top: 5px; }
    #wrap #section .section2-content-box, #wrap #section .section3-content-box {
      width: 49%;
      margin-bottom: 10px;
      margin-right: 2%; }
    #wrap #section .section2-content-box:nth-child(even), #wrap #section .section3-content-box:nth-child(even) {
      margin-right: 0; }
    #wrap #footer .footer_top ul li {
      width: 50%; }
    #wrap #footer .footer_middle_main {
      width: 100%;
      padding: 20px;
      box-sizing: border-box; }
      #wrap #footer .footer_middle_main .header_top-logo-img {
        display: block;
        float: none;
        margin: 0 auto 0 auto; }
      #wrap #footer .footer_middle_main-info {
        float: none;
        width: 100%; }
        #wrap #footer .footer_middle_main-info select {
          width: 100%;
          height: 40px;
          font-size: 18px;
          box-sizing: border-box;
          padding-left: 10px;
          margin-bottom: 20px;
          border: 1px solid #a9a9a9; }
        #wrap #footer .footer_middle_main-info-social {
          text-align: center;
          margin-bottom: 20px; }
          #wrap #footer .footer_middle_main-info-social img {
            width: 30px;
            height: 30px; }
        #wrap #footer .footer_middle_main-info p {
          text-align: center;
          margin: 0; } }

@media screen and (max-width: 485px) {
  #wrap .header_top-rightmenu-m-top ul {
    position: relative;
    float: right;
    padding: 0 20px 0 0;
    box-sizing: border-box; }
    #wrap .header_top-rightmenu-m-top ul li {
      float: left;
      height: 100%;
      margin-left: 10px; }
      #wrap .header_top-rightmenu-m-top ul li img {
        width: 30px !important;
        height: 30px !important; }
    #wrap .header_top-rightmenu-m-top ul .header_top-rightmenu-m-top-menu .line1, #wrap .header_top-rightmenu-m-top ul .header_top-rightmenu-m-top-menu .line2, #wrap .header_top-rightmenu-m-top ul .header_top-rightmenu-m-top-menu .line3 {
      width: 25px;
      height: 3px;
      background: #333;
      display: block;
      margin-bottom: 5px; }
    #wrap .header_top-rightmenu-m-top ul .header_top-rightmenu-m-top-menu .line2 {
      width: 20px;
      margin-left: 5px; }
  #wrap #slider {
    height: 300px; }
    #wrap #slider .slider_img-1, #wrap #slider .slider_img-2, #wrap #slider .slider_img-3 {
      padding: 40px 0 40px 60px; }
  #wrap #section .section1-content-right div table th:nth-child(2) {
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  #wrap #section .section1-bx-content ul li {
    width: 300px !important;
    padding: 15px 0 0 90px; }
  #wrap #section .section2-content-box, #wrap #section .section3-content-box {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */