@charset "UTF-8";
.liactive {
  background: #6d0f13; }

.liactive1 {
  background: #071f4a; }

.liactive2 {
  background: #232323; }

.spanactive {
  background: #a40e16 !important; }

/* 기타 서식서브페이지 css*/
.base-code, .search-main, .event, .professor, .psub, .boardsub, .board, .others {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  padding: 20px 0;
  line-height: 1.5; }

.bg-back-opacity {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 19;
  background: rgba(255, 255, 255, 0.8); }

.bg-back-pw {
  position: fixed;
  z-index: 21;
  display: none;
  top: 85px;
  left: 50%;
  margin-left: -160px;
  width: 320px;
  height: 240px;
  background: #fff; }
  .bg-back-pw-title {
    width: inherit;
    height: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    padding: 10px 18px 0 18px; }
    .bg-back-pw-title h3 {
      color: #062c6b;
      margin-bottom: 6px; }
    .bg-back-pw-title span {
      width: 50px;
      height: 2px;
      display: block;
      background: #062c6b; }
  .bg-back-pw-box {
    box-sizing: border-box;
    padding: 15px; }
    .bg-back-pw-box label {
      display: block;
      margin-bottom: 10px;
      color: #999; }
    .bg-back-pw-box input {
      width: 100%;
      height: 35px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      margin-bottom: 10px;
      color: #999; }
    .bg-back-pw-box a {
      background: #a40e16;
      width: 100%;
      display: block;
      text-align: center;
      box-sizing: border-box;
      padding-top: 7px;
      margin-top: 30px;
      height: 35px;
      border-radius: 20px;
      color: #fff; }

.search-main-left, .event-left {
  width: 20%;
  float: left;
  box-sizing: border-box;
  padding: 30px 20px 0 0; }
  .search-main-left h2, .event-left h2 {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 10px; }
  .search-main-left .main-left-ul, .event-left .main-left-ul {
    width: 100%;
    background: #575756;
    box-sizing: border-box;
    padding: 20px 0 20px 0; }
    .search-main-left .main-left-ul li a, .event-left .main-left-ul li a {
      color: #fff;
      height: 35px;
      padding: 8px 0 5px 15px;
      box-sizing: border-box;
      font-size: 14px;
      display: block; }

.professor-left, .psub-left {
  width: 20%;
  float: left;
  box-sizing: border-box;
  padding: 30px 20px 0 0; }
  .professor-left h2, .psub-left h2 {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 10px; }
  .professor-left .main-left-ul, .psub-left .main-left-ul {
    width: 100%;
    background: #0a326e;
    box-sizing: border-box;
    padding: 20px 0 20px 0; }
    .professor-left .main-left-ul li a, .psub-left .main-left-ul li a {
      color: #fff;
      height: 35px;
      padding: 8px 0 5px 15px;
      box-sizing: border-box;
      font-size: 14px;
      display: block; }

.boardsub-left, .board-left, .others-left {
  width: 20%;
  float: left;
  box-sizing: border-box;
  padding: 30px 20px 0 0; }
  .boardsub-left h2, .board-left h2, .others-left h2 {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 10px; }
  .boardsub-left .main-left-ul, .board-left .main-left-ul, .others-left .main-left-ul {
    width: 100%;
    background: #a40e16;
    box-sizing: border-box;
    padding: 20px 0 20px 0; }
    .boardsub-left .main-left-ul li a, .board-left .main-left-ul li a, .others-left .main-left-ul li a {
      color: #fff;
      height: 35px;
      padding: 8px 0 5px 15px;
      box-sizing: border-box;
      font-size: 14px;
      display: block; }

.boardsub-right {
  width: 80%;
  float: left;
  padding: 31px 0 0 20px;
  border-left: 1px solid #a9a9a9;
  box-sizing: border-box;
  position: relative; }
  .boardsub-right h2 {
    padding: 10px 0;
    font-weight: normal; }
  .boardsub-right-header {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #a9a9a9; }
    .boardsub-right-header > div {
      float: left;
      width: 20%; }
      .boardsub-right-header > div span {
        display: inline-block;
        color: #0a326e;
        margin-right: 10px; }
  .boardsub-right-file {
    padding: 15px 0 0 0 !important;
    cursor: pointer; }
    .boardsub-right-file img {
      width: 15px;
      margin-right: 10px; }
  .boardsub-right h3 {
    padding-bottom: 15px;
    color: #1e427a;
    font-size: 18px; }
  .boardsub-right > p {
    padding: 20px;
    box-sizing: border-box;
    width: 100%; }
  .boardsub-right-header-write {
    width: 100%; }
    .boardsub-right-header-write-who {
      padding: 20px 10px;
      box-sizing: border-box;
      border-bottom: 1px solid #a9a9a9;
      background: #f0f0f0; }
      .boardsub-right-header-write-who > div {
        width: 20%;
        float: left; }
        .boardsub-right-header-write-who > div span {
          display: inline-block;
          color: #0a326e;
          font-weight: bold;
          margin-right: 10px; }
    .boardsub-right-header-write > p {
      margin-top: 10px;
      padding: 10px; }
    .boardsub-right-header-write-btn {
      width: 80px;
      box-sizing: border-box;
      background: #999;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      margin: 20px 0; }
  .boardsub-right-header-write1 {
    width: 100%; }
    .boardsub-right-header-write1-who {
      border-top: 1px solid #999;
      border-bottom: 1px solid #999; }
      .boardsub-right-header-write1-who > img {
        display: block;
        float: left;
        width: 20px;
        height: 20px;
        margin: 10px 10px 0 10px; }
      .boardsub-right-header-write1-who > div {
        width: 20%;
        float: left;
        padding: 20px 0; }
        .boardsub-right-header-write1-who > div span {
          display: inline-block;
          color: #0a326e;
          font-weight: bold;
          margin-right: 10px; }
    .boardsub-right-header-write1 p {
      padding: 20px;
      margin-bottom: 20px; }
  .boardsub-right textarea {
    width: 100%;
    border: 1px solid #a9a9a9;
    color: #a9a9a9;
    box-sizing: border-box;
    padding: 10px; }
  .boardsub-right-next {
    width: 100%;
    border-top: 1px solid #0a326e;
    border-bottom: 1px solid #a9a9a9; }
    .boardsub-right-next p {
      padding: 10px;
      box-sizing: border-box;
      font-size: 12px;
      background: #f0f0f0; }
      .boardsub-right-next p span {
        display: inline-block;
        color: #0a326e;
        margin-right: 10px; }
  .boardsub-right-btn, .boardsub-right-leftbtn, .boardsub-right-rightbtn {
    width: 80px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin: 20px 0; }
  .boardsub-right-btn {
    background: #999; }
  .boardsub-right-leftbtn {
    background: #284b80;
    float: left;
    margin: 40px 0; }
  .boardsub-right-rightbtn {
    background: #284b80;
    float: right;
    margin: 40px 0; }

.psub-right {
  width: 80%;
  float: left;
  padding: 31px 0 0 20px;
  border-left: 1px solid #a9a9a9;
  box-sizing: border-box;
  position: relative; }
  .psub-right-info {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background: #f0f0f0; }
    .psub-right-info > span {
      width: 15%;
      min-width: 100px;
      height: 115px;
      float: left;
      background: #1e427a;
      margin-right: 2%; }
    .psub-right-info h3 {
      float: left;
      width: 83%;
      margin-bottom: 10px; }
    .psub-right-info-box {
      width: 83%;
      float: left; }
      .psub-right-info-box-1 {
        width: 50%;
        float: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: normal; }
        .psub-right-info-box-1 span {
          display: inline-block;
          width: 70px;
          color: #2f4f81;
          font-weight: bold; }
      .psub-right-info-box-2 {
        width: 50%;
        float: left; }
        .psub-right-info-box-2 span {
          display: inline-block;
          width: 90px;
          color: #2f4f81;
          font-weight: bold; }
  .psub-right-career {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #a9a9a9; }
    .psub-right-career-1 {
      width: 20%;
      float: left;
      color: #2f4f81;
      font-weight: bold;
      padding: 30px 0; }
    .psub-right-career-2 {
      width: 80%;
      float: left;
      padding: 30px 0; }

.search-main-right {
  width: 80%;
  float: left;
  padding: 31px 0 0 20px;
  border-left: 1px solid #a9a9a9;
  box-sizing: border-box;
  position: relative; }
  .search-main-right h3 {
    color: #0a326e;
    font-size: 16px; }
  .search-main-right table {
    width: 100%; }
    .search-main-right table tr {
      width: 100%;
      padding: 15px 0;
      height: 49px;
      font-size: 16px;
      display: block;
      border-bottom: 1px solid #f3f3f3; }
    .search-main-right table td:nth-child(1) {
      width: 10%;
      color: #ded0a6; }
    .search-main-right table td:nth-child(2) {
      width: 90%; }
    .search-main-right table td:nth-child(3) {
      width: 20%;
      text-align: right;
      color: #575756; }

.event-right {
  width: 80%;
  float: left;
  padding: 31px 0 0 20px;
  border-left: 1px solid #a9a9a9;
  box-sizing: border-box;
  position: relative; }
  .event-right > h3 {
    font-size: 16px;
    color: #0a326e; }
  .event-right-box {
    width: 100%; }
    .event-right-box-content {
      width: 25%;
      float: left;
      margin-bottom: 20px;
      padding-bottom: 10px;
      padding-right: 1%;
      border-bottom: 1px solid #a9a9a9; }
      .event-right-box-content-img {
        display: block;
        height: 138px;
        width: 100%;
        background: #284b80; }
      .event-right-box-content p {
        font-size: .6em;
        color: #c9b16f;
        margin-top: 10px;
        margin-bottom: 5px; }
      .event-right-box-content h3 {
        font-size: 18px; }
      .event-right-box-content span {
        font-size: .6em;
        color: #999;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        display: block;
        text-overflow: ellipsis;
        margin-top: 10px; }

.professor-right {
  width: 80%;
  float: left;
  padding: 31px 0 0 20px;
  border-left: 1px solid #a9a9a9;
  box-sizing: border-box;
  position: relative; }
  .professor-right-box {
    width: 50%;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999; }
    .professor-right-box a {
      display: block;
      float: left;
      width: 20%;
      height: 115px;
      float: left;
      background: #284b80; }
    .professor-right-box-content {
      width: 80%;
      float: left;
      box-sizing: border-box;
      padding-left: 10px; }
      .professor-right-box-content h3 {
        margin-bottom: 20px;
        font-size: 20px; }
      .professor-right-box-content > div {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        .professor-right-box-content > div span {
          display: inline-block;
          width: 20%;
          color: #0a326e;
          font-weight: bold; }

.event-right-line {
  width: 100%;
  height: 2px;
  display: block;
  border-bottom: 2px solid #1e427a;
  margin: 10px 0; }

.others-right {
  width: 80%;
  float: left;
  padding: 31px 0 0 20px;
  border-left: 1px solid #a9a9a9;
  box-sizing: border-box;
  position: relative; }
  .others-right > img {
    width: 100%;
    height: 300px;
    display: block;
    background: #3bcecd; }
  .others-right h3 {
    font-size: 22px;
    color: #1e427a;
    margin-bottom: 15px; }
  .others-right > p {
    margin-bottom: 30px; }
  .others-right-line {
    width: 100%;
    height: 2px;
    display: block;
    border-bottom: 2px solid #1e427a;
    margin: 15px 0; }
  .others-right-leftline {
    width: 97%;
    padding-left: 2%;
    box-sizing: border-box;
    border-left: 1px solid #999;
    margin-left: 1%;
    color: #999; }
  .others-right-leftline1 {
    width: 100%;
    margin-bottom: 30px; }
    .others-right-leftline1-1, .others-right-leftline1-2, .others-right-leftline1-3 {
      width: 31%;
      float: left;
      border-left: 1px solid #999;
      margin-left: 1%;
      padding-left: 2%;
      box-sizing: border-box;
      color: #999; }
  .others-right h2 {
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 30px; }
  .others-right .others-right-none p {
    margin-bottom: 30px; }
  .others-right-table1 {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px; }
    .others-right-table1 th {
      width: 33%;
      background: #f0f0f0;
      padding: 10px 0;
      color: #1e427a;
      border-top: 1px solid #1e427a;
      border-bottom: 1px solid #999; }
    .others-right-table1 th:nth-child(2) {
      border-right: 1px solid #999;
      border-left: 1px solid #999; }
    .others-right-table1 td {
      box-sizing: border-box;
      padding-left: 20px; }
    .others-right-table1-top {
      padding-top: 10px; }
    .others-right-table1-bottom {
      padding-bottom: 10px; }
    .others-right-table1-vertical {
      padding: 10px 0; }
  .others-right-menu {
    width: 100%;
    margin-bottom: 30px; }
    .others-right-menu-1, .others-right-menu-2 {
      width: 50%;
      float: left;
      padding: 20px 0;
      text-align: center;
      background: #f0f0f0;
      color: #000; }
    .others-right-menu .active1 {
      background: #0a326e !important;
      color: #fff !important; }
  .others-right-tab1 {
    margin-bottom: 40px; }
    .others-right-tab1 strong {
      font-size: 20px;
      margin-bottom: 20px;
      display: block; }
    .others-right-tab1 ul {
      padding-left: 10px;
      margin-bottom: 30px; }
      .others-right-tab1 ul li {
        margin: 8px 0; }
    .others-right-tab1-table1 {
      width: 100%; }
      .others-right-tab1-table1-rowspan {
        width: 100%;
        padding: 15px 0 20px 0;
        border-bottom: 1px solid #999; }
        .others-right-tab1-table1-rowspan-1 {
          width: 20%;
          float: left;
          font-size: 20px;
          color: #284b80; }
        .others-right-tab1-table1-rowspan-2 {
          width: 80%;
          float: left; }
          .others-right-tab1-table1-rowspan-2 > div > div {
            width: 90%;
            float: left;
            margin-bottom: 10px; }
          .others-right-tab1-table1-rowspan-2 span {
            width: 10%;
            display: block;
            float: left; }

.border-left-style {
  border-left: 1px solid #999;
  text-align: center;
  padding-left: 0 !important; }

.border-right-style {
  border-right: 1px solid #999;
  text-align: center;
  padding-left: 0 !important; }

.border-bottom-style {
  border-bottom: 1px solid #999; }

/* 게시판 서브 페이지 css*/
.board-right {
  width: 80%;
  float: left;
  padding: 31px 0 0 20px;
  border-left: 1px solid #a9a9a9;
  box-sizing: border-box;
  position: relative; }
  .board-right-group {
    margin-bottom: 20px; }
    .board-right-group span {
      display: block;
      float: left;
      padding: 3px 7px;
      color: #fff;
      background: #999;
      margin-right: 3px; }
  .board-right table {
    width: 100%; }
    .board-right table tr {
      height: 50px;
      box-sizing: border-box;
      padding-top: 15px;
      border-bottom: 1px solid #a9a9a9;
      display: block;
      font-size: 16px; }
      .board-right table tr .tr-th1, .board-right table tr .tr-th3, .board-right table tr .tr-th4, .board-right table tr .tr-th5, .board-right table tr .tr-th6 {
        width: 10%;
        float: left;
        font-weight: normal;
        text-align: center; }
        .board-right table tr .tr-th1 .file, .board-right table tr .tr-th3 .file, .board-right table tr .tr-th4 .file, .board-right table tr .tr-th5 .file, .board-right table tr .tr-th6 .file {
          width: 13px;
          cursor: pointer; }
      .board-right table tr .tr-th2 {
        width: 50%;
        float: left;
        text-align: left;
        box-sizing: border-box;
        padding-left: 20px;
        font-weight: normal; }
        .board-right table tr .tr-th2 span {
          padding: 1px 8px;
          font-size: 10px;
          color: #fff; }
        .board-right table tr .tr-th2 .secret {
          width: 12px;
          margin-top: -5px;
          cursor: pointer; }
        .board-right table tr .tr-th2-red {
          background: #ed4956; }
        .board-right table tr .tr-th2-green {
          background: #3bcecd; }
        .board-right table tr .tr-th2-deepgreen {
          background: #00796b; }
        .board-right table tr .tr-th2-purple {
          background: #7576b3; }
        .board-right table tr .tr-th2-purple {
          background: #7576b3; }
        .board-right table tr .tr-th2-brown {
          background: #c28d67; }
        .board-right table tr .tr-th2-sky {
          background: #49a9f5; }
    .board-right table .tr {
      border-bottom: 1px solid #284b80; }
      .board-right table .tr th {
        font-weight: bold;
        color: #284b80; }
  .board-right-number {
    width: 230px;
    height: 30px;
    margin: 35px auto 0 auto;
    position: relative; }
    .board-right-number img {
      width: 15px;
      height: 15px;
      position: absolute;
      top: 3px; }
    .board-right-number-left1 {
      left: 0; }
    .board-right-number-left2 {
      left: 15px; }
    .board-right-number-right1 {
      right: 0; }
    .board-right-number-right2 {
      right: 15px; }
    .board-right-number ul {
      width: 240px;
      padding: 0 35px; }
      .board-right-number ul li {
        float: left;
        margin-right: 6px;
        text-align: center; }
      .board-right-number ul li.choice {
        padding: 0px 8px;
        border-radius: 50px;
        background: #0a326e; }
        .board-right-number ul li.choice a {
          color: #fff; }
  .board-right-write {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 30px;
    box-sizing: border-box;
    padding: 5px 0 5px 0;
    text-align: center;
    background: #071f4a;
    color: #fff; }

.search-bg {
  width: 100%;
  height: 54px;
  background: #f0f0f0; }
  .search-bg-center {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 0 0 0; }
    .search-bg-center-left {
      width: 20%;
      float: left;
      height: 34px;
      padding-right: 20px;
      box-sizing: border-box; }
    .search-bg-center-right {
      width: 80%;
      float: left;
      box-sizing: border-box;
      padding-left: 2%; }
      .search-bg-center-right select {
        height: 35px;
        width: 10%;
        margin-right: 1%;
        color: #999;
        border-style: solid;
        border-color: #999;
        border-width: 1px;
        border-radius: none; }
      .search-bg-center-right input {
        width: 72.8%;
        height: 35px;
        border-style: solid;
        border-color: #999;
        border-width: 1px;
        border-radius: none; }
      .search-bg-center-right label {
        display: none; }
      .search-bg-center-right button {
        width: 15%;
        height: 35px;
        color: #fff;
        background: #a40e16; }

.section3-content-gallay1, .section3-content-gallay2 {
  margin-bottom: 10px;
  width: 100%; }
  .section3-content-gallay1 > div, .section3-content-gallay2 > div {
    width: 19%;
    height: 178px;
    margin-right: 1%;
    float: left;
    background: #a9a9a9; }

@media screen and (max-width: 1100px) {
  .search-bg-center input {
    width: 72%; }
  .psub-right-info h3 {
    width: 60%; }
  .psub-right-info-box {
    width: 80%; } }

@media screen and (max-width: 750px) {
  .search-bg-center-left {
    display: none; }
  .search-bg-center-right {
    position: relative;
    width: 100%; }
    .search-bg-center-right select {
      width: 20%; }
    .search-bg-center-right input {
      width: 75%;
      height: 35px; }
    .search-bg-center-right label {
      display: block;
      position: absolute;
      top: 8px;
      right: 5%; }
      .search-bg-center-right label img {
        width: 20px;
        height: 20px; }
    .search-bg-center-right button {
      display: none; }
  .board {
    padding-top: 0; }
    .board-left {
      float: none;
      width: 100%;
      padding: 0; }
      .board-left h2 {
        padding: 15px 10px;
        width: 100%;
        box-sizing: border-box;
        background: #6d0f13;
        color: #fff;
        margin-bottom: 0; }
      .board-left .main-left-ul {
        background: #fff;
        background: none;
        padding: 0;
        width: 160%;
        margin-bottom: 3px; }
        .board-left .main-left-ul li {
          width: 100px;
          float: left;
          padding-bottom: 15px; }
          .board-left .main-left-ul li a {
            color: #a9a9a9;
            text-align: center;
            font-size: 18px; }
        .board-left .main-left-ul li.liactive1 {
          background: none;
          border-bottom: 3px solid #0a326e; }
        .board-left .main-left-ul li.liactive {
          background: none;
          border-bottom: 3px solid #000; }
          .board-left .main-left-ul li.liactive a {
            color: #000; }
    .board-right {
      width: 100%;
      padding-left: 0;
      padding-top: 0;
      border-left: none; }
      .board-right-group {
        background: #f0f0f0;
        padding: 10px 5%; }
        .board-right-group-center {
          width: 100%; }
          .board-right-group-center span {
            padding: 5px 0;
            margin: 0 1% 5px 0;
            text-align: center; }
          .board-right-group-center-1 {
            width: 19.5%; }
          .board-right-group-center-2 {
            width: 19.5%; }
          .board-right-group-center-3 {
            width: 18%; }
          .board-right-group-center-4 {
            width: 39%;
            margin-right: 0; }
          .board-right-group-center-5 {
            width: 40%;
            clear: both; }
          .board-right-group-center-6 {
            width: 18%; }
          .board-right-group-center-7 {
            width: 39%;
            margin-right: 0; }
      .board-right table {
        padding: 0 20px; }
        .board-right table tr .tr-th1, .board-right table tr .tr-th3, .board-right table tr .tr-th4, .board-right table tr .tr-th5, .board-right table tr .tr-th6 {
          display: none; }
        .board-right table tr .tr-th2 {
          width: 100%; }
        .board-right table .tr {
          display: none; }
      .board-right-write {
        position: static;
        margin: 20px auto 0 auto; }
  .section3-content-gallay1 > div, .section3-content-gallay2 > div {
    width: 49%;
    height: 178px;
    margin: 0 1% 10px 0; }
  /*서식 페이지 반응형 코드 시작*/
  .others {
    padding-top: 0; }
    .others-left {
      float: none;
      width: 100%;
      padding: 0; }
      .others-left h2 {
        padding: 15px 10px;
        width: 100%;
        box-sizing: border-box;
        background: #a40e16;
        color: #fff;
        margin-bottom: 0; }
      .others-left .main-left-ul {
        background: none;
        background: #fff;
        padding: 0;
        width: 200%;
        margin-bottom: 3px; }
        .others-left .main-left-ul li {
          width: 150px;
          float: left;
          padding-bottom: 15px; }
          .others-left .main-left-ul li a {
            color: #a9a9a9;
            text-align: center;
            font-size: 18px; }
        .others-left .main-left-ul li.liactive1 {
          background: none;
          border-bottom: 3px solid #0a326e; }
        .others-left .main-left-ul li.liactive {
          background: none;
          border-bottom: 3px solid #0a326e; }
          .others-left .main-left-ul li.liactive a {
            color: #000; }
    .others-right {
      padding-top: 0;
      width: 100%;
      padding-right: 15px; }
      .others-right .none {
        display: none; }
      .others-right-leftline1-1, .others-right-leftline1-2, .others-right-leftline1-3 {
        width: 100%;
        margin-bottom: 10px; }
      .others-right-menu-1, .others-right-menu-2 {
        width: 100%; }
      .others-right-tab1-table1-rowspan-1 {
        width: 100%;
        margin-bottom: 20px; }
      .others-right-tab1-table1-rowspan-2 {
        width: 100%; }
  .professor, .psub {
    padding-top: 0; }
    .professor-left, .psub-left {
      float: none;
      width: 100%;
      overflow: hidden;
      padding: 0; }
      .professor-left h2, .psub-left h2 {
        padding: 15px 10px;
        width: 100%;
        box-sizing: border-box;
        background: #0a326e;
        color: #fff;
        margin-bottom: 0; }
      .professor-left .main-left-ul, .psub-left .main-left-ul {
        background: none;
        background: #fff;
        width: 100%;
        margin-bottom: 3px;
        padding: 0; }
        .professor-left .main-left-ul li, .psub-left .main-left-ul li {
          width: 50%;
          float: left;
          padding-bottom: 15px; }
          .professor-left .main-left-ul li a, .psub-left .main-left-ul li a {
            color: #a9a9a9;
            text-align: center;
            font-size: 18px; }
        .professor-left .main-left-ul li.liactive1, .psub-left .main-left-ul li.liactive1 {
          background: none;
          border-bottom: 3px solid #0a326e; }
          .professor-left .main-left-ul li.liactive1 a, .psub-left .main-left-ul li.liactive1 a {
            color: #000; }
  .professor-right {
    width: 100%;
    padding-right: 15px; }
    .professor-right-box {
      width: 100%; }
      .professor-right-box-content > div:nth-last-child(1) {
        display: none; }
  .event, .search-main {
    padding-top: 0; }
    .event-left, .search-main-left {
      display: none; }
  .event-right {
    width: 100%;
    padding-right: 20px; }
    .event-right-box-content {
      width: 50%;
      border-bottom: none; }
    .event-right-box-content:nth-child(even) {
      padding-right: 0;
      padding-left: 1%; }
  .search-main-right {
    width: 100%;
    padding-right: 15px;
    border-left: none; }
    .search-main-right table {
      width: 100%; }
      .search-main-right table td:nth-child(1) {
        width: 15%;
        display: inline-block;
        float: left;
        font-size: 18px; }
      .search-main-right table td:nth-child(2) {
        width: 85%;
        display: inline-block;
        float: left;
        font-size: 18px; }
      .search-main-right table td:nth-child(3) {
        display: none; }
  .psub {
    padding-top: 0; }
    .psub-right {
      width: 100%;
      padding: 0;
      border-left: none;
      float: none; }
      .psub-right .event-right-line {
        display: none; }
      .psub-right-info > span {
        margin-bottom: 30px; }
      .psub-right-info-box {
        width: 100%;
        float: none; }
        .psub-right-info-box-1, .psub-right-info-box-2 {
          width: 100%;
          float: none; }
          .psub-right-info-box-1 > div, .psub-right-info-box-2 > div {
            margin-bottom: 10px; }
      .psub-right-career {
        box-sizing: border-box;
        width: 94%;
        margin: 0 auto; }
        .psub-right-career-1 {
          width: 100%;
          float: none;
          padding: 0; }
        .psub-right-career-2 {
          width: 100%;
          float: none; }
  .boardsub {
    padding-top: 0; }
    .boardsub-left {
      float: none;
      width: 100%;
      overflow: hidden;
      padding: 0; }
      .boardsub-left h2 {
        padding: 15px 10px;
        width: 100%;
        box-sizing: border-box;
        background: #a40e16;
        color: #fff;
        margin-bottom: 0; }
      .boardsub-left .main-left-ul {
        background: none;
        width: 200%;
        background: #fff;
        margin-bottom: 3px;
        padding: 0; }
        .boardsub-left .main-left-ul li {
          width: 120px;
          float: left;
          padding-bottom: 15px; }
          .boardsub-left .main-left-ul li a {
            color: #a9a9a9;
            text-align: center;
            font-size: 18px; }
        .boardsub-left .main-left-ul li.liactive {
          background: none;
          border-bottom: 3px solid #0a326e; }
          .boardsub-left .main-left-ul li.liactive a {
            color: #000; }
    .boardsub-right {
      width: 100%;
      padding: 0 15px;
      border-left: none;
      float: none; }
      .boardsub-right .others-right-line:nth-child(1) {
        display: none; }
      .boardsub-right h2 {
        margin-top: 10px; }
      .boardsub-right-header {
        width: 100%; }
        .boardsub-right-header > div {
          width: 33%; }
        .boardsub-right-header > div:nth-child(2) {
          text-align: center; }
        .boardsub-right-header > div:nth-child(3) {
          text-align: right; }
      .boardsub-right-header-write {
        width: 100%;
        padding-bottom: 20px; }
        .boardsub-right-header-write-who > div {
          width: 40%; }
      .boardsub-right-header-write1 {
        width: 100%; }
        .boardsub-right-header-write1-who > div {
          width: 40%; }
  .others-right-none {
    display: none; }
  .board-right-number {
    width: 100%; }
    .board-right-number ul {
      width: 100%;
      box-sizing: border-box; }
      .board-right-number ul li {
        width: 5%;
        margin-right: 5%;
        text-align: center; }
  /*서식 페이지 반응형 코드 끝*/ }

@media screen and (max-width: 576px) {
  .section3-content-gallay1 > div, .section3-content-gallay2 > div {
    width: 100%;
    float: none;
    margin: 0 0 10px 0; }
  .event-right-box-content {
    width: 100%; } }

/*# sourceMappingURL=sub.css.map */